<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Chat</h1>

    <div id="chat"></div>
    <input type="text" name="" id="username" placeholder="username">
    <input type="text" name="" id="msg" placeholder="message">
    <button onclick="enviar()">Send</button>
    <p id="resultado"></p>
    

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.js"></script>
<script>
    const socket = io("http://localhost:3000/");
    socket.on("disconnect", () => {
        console.log("Desconectado");
    });

    socket.on("showmsg", (data) => {
        console.log(data);

        const chat = document.getElementById("chat");

        const p = document.createElement("p")
        const dataInfo = data.username + ' : ' + data.msg
        p.innerHTML = dataInfo;
        chat.append(p);
    });

    function enviar(){
        const msgField = document.getElementById("msg");
        const usernameField = document.getElementById("username");

        const msg = msgField.value;
        const username = usernameField.value;

        socket.emit("msg", {msg: msg, username: username});
    }



</script>
</html>