<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Chat</h1>

    <div id="chat"></div>

    <div id="login">
        <input type="text" name="" id="username" placeholder="Digite seu nome">
        <button onclick="login()">Send</button>
    </div>

    
    <%= if (data.username ) { %>
        <input type="text" name="" id="msg" placeholder="message">    
        <button onclick="sendMessage()">Send</button>
    <% } %> 
    <p id="resultado"></p>
    

</body>
<style>
    #chat{
        max-height: 500px;
        min-height: 500px;
        background-color: aliceblue;
        overflow-y: scroll;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.js"></script>
<script>
    const socket = io("http://localhost:3000/");
    socket.on("disconnect", () => {
        console.log("Desconectado");

        localStorage.setItem("webchat:user", {});
    });

    socket.on("showmsg", (data) => {
        console.log(data);

        const chat = document.getElementById("chat");

        const p = document.createElement("p")
        const dataInfo = data.username + ' : ' + data.msg
        p.innerHTML = dataInfo;
        chat.append(p);
    });

    function login(){
        const usernameField = document.getElementById("username");
        const username = usernameField.value;

        socket.emit("login", {username: username});

        if(username){
            localStorage.setItem("webchat:user", JSON.stringify(username));
        }
        return;
    }


    function sendMessage(){
        const msgField = document.getElementById("msg");
        const msg = msgField.value;

        const username = localStorage.getItem("webchat:user", JSON.stringify(username));

        if(username != undefine){
            socket.emit("msg", {username: username, msg: msg});
        }
}
</script>
</html>